:root {
    --color-hard: #2F52A3;
    --color-medium: rgb(219, 213, 213);
    --color-soft: #c7d5f6;
}

*{
    background: var(--color-soft);
    font-family: "Inter", sans-serif;
    font-weight: <weight>;
    font-style: normal;
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.main-section1-area{
    border: none;
    color: var(--color-hard);
    margin-top: 90px;
    text-transform: lowercase;
    width: 600px;
}
 ::placeholder {color:var(--color-hard);}
 .main-section1-area:focus{
    outline: none;
 }

 .main-section2{
    display: flex;
   
    
 }

 .main-section2-area{
    
    background: white;
    background-image: url("../assets/CryptokeyPequeño.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: var(--color-hard);
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    width: 600px;
    height: 400px;
 }
 
 .main-section2-area:focus {
    outline: none;
 }

 .main-section1-message{

    display: flex;
    justify-content:flex-start;
    height: 25px;
    padding-bottom: 15px;
    
   
 }

 .main-section1-botons{

    display: flex;
    margin-top: 18px;

 }

.main-section1-botons-encriptar{
    background-color: var(--color-hard);
    border: 1px solid var(--color-hard);
    border-radius: 24px;
    color:white;
    cursor:pointer;
    height: 67px;
    width: 328px;
}

.main-section1-botons-desencriptar{
    background-color: var(--color-medium);
    border: 1px solid var(--color-hard);
    border-radius: 24px;
    color:var(--color-hard);
    cursor:pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.main-section2-botons-copiar{

    border: 1px solid var(--color-hard);
    border-radius: 24px;
    color:var(--color-hard);
    cursor:pointer;
    height: 67px;
    margin-left: 100px;
    margin-top: 475px;
    position: absolute;
    width: 328px;
  

}